/* NAVBAR CSS */

.navbar {
	font-family: 'PT Sans', sans-serif;
}

.img-fluid {
	max-width: 100%;
    height: 150px;
}

/* FORM CSS */

body  {
	background-image: url('https://villas.byunique.com/components/com_jomcomdev/images/!erp/2798/269224-Love-Pumpkin-at-COMO-Parrot-Cay-76317865-H1-Love_Pumpkin_-_Guest_Villa_-_Beach_Service.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
}

.reservDetails, .accordion {
	margin-top: 10%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	z-index: 11;
	width: 36rem;
}

.card-text {
	padding-left: 3%;
	font-family: 'PT Sans', sans-serif;
	color: black;
	font-size: 14px;
	font-weight: 500;
}

.noReservation {
	width: 50%;
	margin-top: 125px;
	margin-left: 100px;
	background: #ffbf00e5; 
	padding-top: 15px;
	padding-bottom: 0;
	border-radius: 6px;
}


.btn {
	color: rgb(255, 255, 255);
	background-color: #E63946;
	margin-top: 2%;
	margin-right: 2%;
	/*text-align: center;*/
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 6px;
	cursor: pointer;
}

.reservDetails .btn:hover,
.reservDetails .btn:focus {
	background: #D90429;
}

.btn-link {
	background: #007EA7;
}

mark {
	background-color: rgb(37, 196, 37);
	text-transform: uppercase;
  	color: black;
}