
.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#list {
	font-family: 'PT Sans', sans-serif;
	background-image: url('https://villas.byunique.com/components/com_jomcomdev/images/!erp/2798/269224-Love-Pumpkin-at-COMO-Parrot-Cay-76317865-H1-Love_Pumpkin_-_Guest_Villa_-_Beach_Service.jpg');
	background-size: cover;
	background-position: center;
}

.reservations-list {
	background: rgba(0,0,0,0.6);/*rgba(204, 255, 255, 0.5);*/
	padding: 40px;
	border-radius: 6px;
}

.reservations-list .form-group {
	position: relative;
	margin-bottom: 20px;
}
