<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">

    <a id="back-button" class="text-secondary nav-link nav-item active" [routerLink]="['../../list']">
      <i class="fa fa-arrow-left"></i>
    </a>

    <a id="home-button" class="text-secondary nav-link nav-item active" [routerLink]="['../../../']">
      <i class="fa fa-home"></i>
    </a>

    <a class="navbar-brand">Modifica prenotazione #{{reservation.idReservation}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

<div class="container">
  <h5 class="my-4"></h5>

  <div class="row">
    <div class="col-md-12">
      <form class="card p-3" [formGroup]="editResForm" (ngSubmit)="editReservation()">

        <div class="form-group">
          <label for="inputName">Nome</label>
          <input type="text" formControlName="name_reservation" class="form-control" id="inputName" placeholder="Mario Rossi">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">E-mail</label>
            <input type="email" formControlName="email" class="form-control" id="inputEmail" placeholder="userid@example.com">
          </div>
          <div class="form-group col-md-6">
            <label for="inputTel">Telefono</label>
            <input type="text" formControlName="mobile" class="form-control" id="inputTel" placeholder="3331234567">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-5">
            <label for="inputDate">Data</label>
            <input type="date" formControlName="date" class="form-control" id="inputDate">
          </div>
          <div class="form-group col-md-5">
            <label for="inputBeach">Spiaggia</label>
            <select id="inputBeach" formControlName="idBeach" class="form-control">
              <option *ngFor="let beach of beaches" value="{{beach.idBeach}}">{{beach.name}}</option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label for="inputQuantity">Quantità</label>
            <input type="number" formControlName="quantity" class="form-control" id="inputQuantity" min="1" max="5">
          </div>
        </div>

        <div class="form-group">
          <div class="form-check" *ngIf="reservation.half_day">
            <input class="form-check-input" type="checkbox" formControlName="half_day" id="checkHalfDayChecked" checked>
            <label class="form-check-label" for="checkHalfDayChecked">
              Mezza giornata
            </label>
          </div>
          <div class="form-check" *ngIf="!reservation.half_day">
            <input class="form-check-input" type="checkbox" formControlName="half_day" id="checkHalfDayUnchecked">
            <label class="form-check-label" for="checkHalfDayUnchecked">
              Mezza giornata
            </label>
          </div>
        </div>


        <div class="form-group text-center">
          <button type="submit" class="col-md-9 btn btn-outline-info">Modifica prenotazione</button>
          <button type="button" class="col-md-2 btn btn-outline-dark" (click)="deleteReservation()">Elimina prenotazione</button>
        </div>

      </form>
    </div>
  </div>

</div>