<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Booking Form</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet">
</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="booking-form">
						<form [formGroup]="reservationForm" (ngSubmit)="addReservation()">
							<div class="form-group">
								<div class="form-checkbox">
									<label for="half_day">
										<input type="checkbox" id="half_day" formControlName="half_day" name="half_day">
										<span></span>MEZZA GIORNATA
									</label>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Nominativo</span>
										<input class="form-control" type="text" formControlName="name_reservation" name="name_reservation" placeholder="nome prenotazione" required>
									</div>
								</div>
								<div class="col-md-6">
                  					<div class="form-group">
										<span class="form-label">Data</span>
										<input class="form-control" type="date" formControlName="date" name="date" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<span class="form-label">Email</span>
										<input class="form-control" type="text" formControlName="email" name="email" placeholder="email" required>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">					
										<span class="form-label">Numero di telefono</span>
										<input class="form-control" type="text" formControlName="mobile" name="mobile" placeholder="telefono" required>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">Quantità</span>
										<select class="form-control" formControlName="quantity" name="quantity">
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
										<span class="select-arrow"></span>
									</div>
								</div>
								<!--<div class="col-md-3">
									<div class="form-group">
										<span class="form-label">idBeach</span>
										<input class="form-control" type="number" formControlName="idBeach" name="idBeach" value="{{this.activatedRoute.snapshot.params.idBeach}}" required>
										<select class="form-control" formControlName="idBeach" name="idBeach" required>
											<option value="{{this.activatedRoute.snapshot.params.idBeach}}" selected>1</option>
										</select>
									</div>
								</div>-->
								<div class="col-md-3">
									<div class="form-btn">
										<button type="submit" class="submit-btn">prenota</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
